<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon"
          type="image/png"
          href="../img/logo.png">
    <title>Working Memory Training</title>

    <script src="../../js/jspsych.js"></script>
    <script src="../../js/jquery.min.js"></script>

    <script src="../../js/plugins/jspsych-call-function.js"></script>
    <script src="../../js/plugins/jspsych-fullscreen.js"></script>

    <script src="../../js/plugins/jspsych-instructions.js"></script>

    <script src="../../js/plugins/jspsych-survey-html-form.js"></script>
    <script src="../../js/plugins/jspsych-survey-text.js"></script>
    <script src="../../js/plugins/jspsych-survey-likert.js"></script>

    <script src="../../js/plugins/jspsych-html-button-response.js"></script>
    <script src="../../js/plugins/jspsych-html-keyboard-response.js"></script>

    <script src="../src/wmt_experiment.js"></script>
    <script src="../src/utils.js"></script>
    <script src="../src/welcome/wmt_train_welcome.js"></script>

    <script src="../src/questionnaires/questionnaire_items.js"></script>
    <script src="../src/questionnaires/questionnaire.js"></script>

    <script src="../src/exp/exp_wmt.js"></script>

    <link rel="stylesheet" href="../css/jspsych.css" type="text/css"/>
    <link rel="stylesheet" href="../css/wmtstyles.css" type="text/css"/>
    <link rel="stylesheet" href="../css/qstyles.css" type="text/css"/>

</head>
<body>
<div id="welcome"></div>
</body>
<script>

    /* start by running the "welcome" */
    welcome.run();

</script>
</html>
